<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Butterflies_learn.XVC" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Butterflies_learn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Butterflies_learn.XVC" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Butterflies_learn.Properties.Settings>
            <setting name="Cena" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kuponie_angielski" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Kuponie_Polska" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pieniadzie" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Unity_1_kup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Unity_2_kup" serializeAs="String">
                <value>False</value>
            </setting>
        </Butterflies_learn.Properties.Settings>
        <Butterflies_learn.XVC>
            <setting name="Kuponie_Polska" serializeAs="String">
                <value>False</value>
            </setting>
        </Butterflies_learn.XVC>
    </userSettings>
</configuration>